<!doctype html>
<html>
    <head>
        <title>My web application - {{ ansible_ssh_host }}</title>
    </head>
    <body>
        <p>Hello from Ansible ... {{ ansible_ssh_host }}</p>
    </body>
</html>