user  {{ nginx_user }};
worker_processes  {{ worker_processes }}; #auto
pid /run/nginx.pid;

events {
    worker_connections  {{ worker_connections }};
    multi_accept off;
}


http {

    include /etc/nginx/mime.types;
    default_type  application/octet-stream;

    server_names_hash_bucket_size 64;

    client_max_body_size {{ client_max_body_size }};

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                       '$status $body_bytes_sent "$http_referer" '
                       '"$http_user_agent" "$http_x_forwarded_for"';

    error_log  /var/log/nginx/error.log warn;
    access_log  /var/log/nginx/access.log;
    
    sendfile        on;
    tcp_nopush      on;
    tcp_nodelay     on;

    types_hash_max_size 2048;

    keepalive_timeout  65;
    keepalive_requests 600;

    server_tokens off;

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}